.assignment-question-root {
  height: calc(100vh - 0px);
  display: grid;
  grid-template-columns: 45% 55%;
  background: #0f172a;
  color: #fff;
}

/* LEFT PANEL */
.aq-left {
  overflow-y: auto;
  padding: 24px;
  border-right: 1px solid #1e293b;
}

/* RIGHT PANEL */
.aq-right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* LANGUAGE BAR */
.aq-editor-header {
  padding: 12px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

/* EDITOR MUST GROW */
.aq-right > .monaco-editor,
.aq-right > div {
  flex: 1;
}

/* ACTION BAR */
.aq-actions {
  display: flex;
  gap: 12px;
  padding: 12px;
  /* background: #020617; */
  border-top: 1px solid #1e293b;
}

.aq-actions button {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.aq-actions .submit {
  background: #2563eb;
  color: white;
}

/* RESULT PANEL */
.aq-result {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #020617;
  padding: 14px 18px;
  border-radius: 8px;
  /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6); */
}
